.c-btn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 14px;
  font-size: 1.063rem;
}

.c-bg-white {
  background-color: #f3e8d5;
  color: #ec2539;
  font-size: 1.14rem;
  padding: 5px 10px;
}
