.p-section-2 {
  background: url('../images/sec-2-umbrella-bt-left.png'),
    url('../images/sec-2-umbrella-top-right.png'),
    url('../images/sec-2-leaf-top-left.png'),
    url('../images/sec-2-leaf-bot-right.png');
  background-color: #ec2539;
  background-repeat: no-repeat;
  background-position: 0 93%, 100% 10.5%, 3.8% 4%, 82.6% 91%;
}

.p-section-3 {
  background: url('../images/sec-3-flower-left.png'),
    url('../images/sec-3-flower-right.png'),
    url('../images/sec-3-fan-top-left.png'),
    url('../images/sec-3-fan-bot-left.png'),
    url('../images/sec-3-fan-right.png'), url('../images/sec-3-leaf-right.png'),
    url('../images/sec-3-leaf-center-1.png'),
    url('../images/sec-3-leaf-center-2.png'),
    url('../images/sec-3-leaf-left.png'), url('../images/gradient-3.png'),
    url('../images/gradient-4.png'), url('../images/gradient-5.png');
  background-repeat: no-repeat;
  background-position: 0 -4px, 100% -4px, 0 39.5%, 0 96.6%, 100% 68.8%,
    91% 16.3%, 44% 37.9%, 56.2% 66%, 6.5% 81%, 100% 0%, 0 57%, 100% 97%;
}

.p-section-4 {
  background: url('../images/sec-4-flower.png'),
    url('../images/sec-4-umbrella-left.png'),
    url('../images/sec-4-umbrella-right.png'),
    url('../images/sec-4-image-1.png'), url('../images/sec-4-image-2.png'),
    url('../images/sec-4-image-2.png'), url('../images/sec-4-image-3.png'),
    url('../images/sec-4-leaf-1.png'), url('../images/sec-4-leaf-2.png'),
    url('../images/sec-4-leaf-3.png');
  background-color: #ec2539;
  background-repeat: no-repeat;
  background-position: 0 6%, 0 80%, right 81%, 72.5%, 62.5% 73.6%, 58.2% 82%,
    77.5% 83%, 45% 12.5%, 21.3% 90.3%, 83.2% 62.2%;
}

.p-section-5 {
  background: url('../images/sec-5-koi.png'),
    url('../images/sec-5-flower-top.png'), url('../images/sec-5-flower-bt.png'),
    url('../images/sec-5-cat-top.png'), url('../images/sec-5-cat-bt.png'),
    url('../images/sec-5-leaf-1.png'), url('../images/sec-5-leaf-2.png'),
    url('../images/sec-5-leaf-3.png'), url('../images/gradient-6.png'),
    url('../images/gradient-7.png'), url('../images/gradient-8.png');
  background-repeat: no-repeat;
  background-position: 19.5% 49%, 52.5% -96px, 100% 90%, 3.1% 12.5%, 3.1% 89.4%,
    72.5% 14%, 8% 46%, 59.5% 87%, 50% -25%, 0 25%, 100% 50%;
}

.p-section-6 {
  background: url('../images/sec-6-umbrella-left.png'),
    url('../images/sec-6-umbrella-right.png'), url('../images/sec-6-coc.png'),
    url('../images/sec-6-eclipse.png'), url('../images/sec-6-sushi-1.png'),
    url('../images/sec-6-sushi-2.png'), url('../images/sec-6-leaf-1.png'),
    url('../images/sec-6-leaf-2.png'), url('../images/sec-6-leaf-3.png');
  background-color: #ec2539;
  background-repeat: no-repeat;
  background-position: 0 78%, 100% 19%, 50% 83%, 50% 85.1%, 86.8% 88%,
    90.2% 92.3%, 10.3% 15%, 74.6% 14%, 95% 78.5%;
}

.p-section-7 {
  background: url('../images/sec-7-left.png'), url('../images/sec-7-right.png'),
    url('../images/gradient-9.png'), url('../images/gradient-11.png'),
    url('../images/gradient-10.png');
  background-repeat: no-repeat;
  background-position: 0 -19px, 100% -19px, 0 0%, 0 100%, 100% 100%;
}
